* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  
}

h1{
  color: #1E1E1E;
}
h2{
  color: #1E1E1E;
}
h3{
  color: #1E1E1E;
}
p{
  color: #1E1E1E;
}
.slsGrad {
  background-image: linear-gradient(to right, #37B6FF , #5371FF);
}
.title {
  display: inline-block;
  padding-left: 2%;
  color: #1E1E1E;
}
ul {

  float: right;
  list-style-type:none;
  margin: 0;
  padding-right: 2%;
  overflow: hidden;
}
li {
  display: flex;
  
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding-left: 14px;
  font-size: 32PX;
  font-weight: 600;
  text-decoration: none;
}
li a:hover:not(.active) {
  transition: 550ms;
  background-color: none;

}

.sub-title {
  margin-left: 2%;
}

h4 {
  margin-left: 43%;
  padding-bottom: 5px;
}

.bottom-text {
  margin-left: 37.5%;
  padding-bottom: 5px;
}

p h4 body {
  background: rgba(216, 216, 216, 0.75);
}
.menu-icon {
  width: 32px;
  height: 32px;
}

.img-icon {
  width: 25px;
  height: 25px;
}


.main-button {
  height: 55px;
  width: 55px;
  padding: 12px 12px 12px 12px;
  background-color: transparent;
  border-width: 0px;
  border-radius: 36px;
  overflow: hidden;
}

.main-button:hover {
  transition: 250ms;
  background-color: #aec1ff;
}

.button-main-notif {
  height: 45px;
  width: 45px;
  float: right;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-width: 0px;
  border-radius: 36px;
}

.button-main-notif:hover {
  transition: 250ms;
  background-color: rgb(192, 192, 192);
}

.cont-container{
  display: inline;
  height: max-content;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  background: rgba( 255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 7.0px);
  -webkit-backdrop-filter: blur( 7.0px);
  border-radius: 10px;
  overflow: hidden;
}
.main-container{
  display: inline-bl;
  height: max-content;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  background: rgba( 255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 7.0px);
  -webkit-backdrop-filter: blur( 7.0px);
  border-radius: 10px;
  overflow: hidden;
}

.grid-container {
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
}

.grid-item {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: auto;
  height: fit-content;
  background: rgba( 255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 7.0px);
  -webkit-backdrop-filter: blur( 7.0px);
  border-radius: 10px;
}

#four {
  grid-column-start: 1;
  grid-column-end: 1;
}

.form__field {
  font-family: inherit;
  width: 100%;
  padding-bottom: 5px;
  border: 0;
  border-bottom: 2px solid #1E1E1E;
  outline: 0;
  font-size: 1.3rem;
  color: #4A88FF;
  padding-top: 2%;
  background: transparent;
  transition: border-color 0.2s;
}


.loginArea {
  height: max-content;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  
  width: 50%;
  background: rgba( 255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 7.0px);
  -webkit-backdrop-filter: blur( 7.0px);
  border-radius: 10px;
  overflow: hidden;
  padding-left: 2%;
  padding-right: 2%;
}

.loginHead {
  height: max-content;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50%;
  background: rgba( 255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 7.0px);
  -webkit-backdrop-filter: blur( 7.0px);
  border-radius: 10px;
  overflow: hidden;
  padding-left: 2%;
  padding-right: 2%;
}

.btn-cont{
  display: inline-block;
  width: 50%;
  padding-top: 2%
}

.btn-left{
  float: right;
  display: inline;
	width: 90px;
	height: 40px;
	border: 2px solid #1E1E1E;;
	border-radius: 40px;
	background: transparent;
	color: #1E1E1E;
	letter-spacing: 1px;
  font-size: 18px;
}
.btn-left:hover{
  transition: 300ms;
  border: 2px solid#4A88FF;
  background: #4A88FF;
  color: white;
}
.btn-left:active {
  background: blue;
}
.btn {
  float: left;
  display: inline;
	width: 90px;
	height: 40px;
	border: 2px solid #1E1E1E;
	border-radius: 40px;
	background: transparent;
	color: #1E1E1E;
	letter-spacing: 1px;
  font-size: 18px;
}
.btn:hover{
  transition: 300ms;
  border: 2px solid#4A88FF;
  background: #4A88FF;
  color: white;

}
.btn:active {
  background: blue;
}

.error-text {
  padding-top: 2%;
  color: red;

}